@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/*Selectores de etiqueta*/


*{
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}
html{
	font-size: 62.5%;
    background-color: palegoldenrod;
}

nav{
	background-color: rgb(0, 0, 0);
	padding: 5px 0px;
	top: 0;
	position: fixed;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav ul{
	list-style: none;
	display: flex;
	padding-right: 40px;
	
}
nav ul li{
	margin: 0px 5px;
}
nav ul li a{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 2rem;
	margin-left: 15px;
}
main section{
	margin: 30px 0;
}
main section article{
	 

}
p{
	font-size: 1.5rem;
}

h1{
	font-size: 4.5rem;
	background-color: darkgoldenrod;
	padding-top: 20px;

}

h2{
	color: black;
	font-size: 3.5rem;
	font-weight: 500;
}
table{
	font-size: 2rem;
	height: auto;
}
iframe{
	margin-top: 20px;
}
footer a img{
	width: 50px;
}

/*Selector de clase*/
.textFont{
	font-family: 'Roboto', sans-serif;
}
.textBold{
	font-weight: 500;
}
.textLight{
	font-weight: 300;
}
.textRegular{
	font-weight: 400;
}
.textCenter{
	text-align: center;
}
.textLeft{
	text-align: left;
}
.textRight{
	text-align: right;
}

.boxArticle{
	width: 40%;
	margin: 0px 15px ;
	padding: 40px 30px;
	border:solid 1px  black;
	overflow: none;	
	grid-area: texto;
}
.mapa{
	grid-area: mapa;
	width: 50%;
}

.container{
	overflow-x: none;
	width: 100%;
	display: grid;
	grid-column-gap: 0px;
	grid-template-columns: 50% 50%;
	grid-template-rows: 100%;
	grid-template-areas:
	 "texto" "mapa"  
	;
} 


.imgLogo{
	width: 90px;
}
.imgHeader{
	width: 100%;
	height: 90vh;
	margin: 0px;
}
.backgroundSectionN{
	background-color: #D9CA9C;
	padding: 10px 0;
	display: flex;
	justify-content: center;
	align-content: center;

}
.backgroundSectionP{
	background-image: url(../imagenes/fondomadera.jpg) ;
	background-size: cover;
	padding: 20px 0;
}
.articleDestacados{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: center;
}
.pie{
	grid-area: pie;
	background-color: #E2D3A3;
	padding: 10px 0;
}
.textSizeX{
	font-size: 3rem;
}
.textSizeM{
	font-size: 2rem;
}
.textSizeS{
	font-size: 1rem;
}
.tamañoImagen{
	width: 220px;
	height: 300px;
}
.tamañoImagenSmir{
	width: 220px;
	height: 300px;
	margin-left: 50px;
}
.mainPadding{
	padding-top: 100px;
}


}
.paddingComprar{
	margin-left: 90px;
}
.paddingBorder{
	border: double 2px black;
	padding: ;
}
.imageEventos{
	width: 100%;
}
.display{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/*Selector ID*/

#main{
	grid-area: main;
}
#nav{
	grid-area: nav;
}



#heroe{
    padding-top:70px;
	padding-bottom: 0;

}

#paddingService{
	padding-top: 150px;
}



















/*Productos*/
.marginSection{
	margin: 10px 
	padding-bottom: 50px;
}

}
.widthProducto{
	padding-bottom: 30px;
	width: 60%;
	border: double 2px black;
}
.imageProductos{
	width: 220px;
	height: 280px;
}
.paddingArticle{
	padding-bottom: 40px;
}


#paddingProductos{
	margin-bottom: 40px;
	margin-top: 50px;

}
.widhtSection{
	100%
}
.w{
	width: 25%;
	margin-top: 40px ;
	margin-bottom: 40px;
}


#displayP{
	width: 100%;
	display: flex;
	
	flex-wrap: wrap;
	
}

 


#nave{
	grid-area: one;
}
#filtro{
	grid-area: two;
}
#productos{
	grid-area: three;
}





















/*Servicios*/
.boxArticleService{
	width: 90%;
	margin: 110px 30px;
	border: double 1px black;
	overflow: auto;
	
}
.articleWidth{
	width: 45%;
}
.h1width{
	width: 100%;
	height: 55px;
}
.marginTopp{
	margin-top: 70px;
}


.contenedor{
	margin: 0 20px;
	display: grid;
	overflow: hidden;
	grid-row-gap: 20px;
	grid-template-columns: 60% 40%;
	grid-template-rows: 15vh 50vh 15vh 50vh 15vh 50vh;
	grid-template-areas: 
	"title" "title"
	"text""img"
	"title2""title2"
	"text2""img2"
	"title3""title3"
	"text3""img3"
	;
	  
}


.paddingService{
	padding-top: 70px;
}

#titulo1{
	grid-area: title ;
	grid-row: 1;
}
#titulo2{
	grid-area: title2;
	grid-row: 3;
}
#titulo3{
	grid-area: title3;
	grid-row: 5;
}
#texto1{
	grid-area: text;
	grid-row: 2;
}
#texto2{
	grid-area: text2;
	grid-row: 4;
}
#texto3{
	grid-area: text3;
	grid-row: 6;
}
#imagen1{
	grid-area: img;
	grid-column: 2;
	grid-row: 2;
}
#imagen2{
	grid-area: img2;
	grid-column: 2;
	grid-row: 4;
}
#imagen3{
	grid-area: img3;
	grid-column: 2;
	grid-row: 6;
}



@media only screen and (max-width:  320px){
	
	h1{
		width: 100vw;
		font-size: 35px;
	}
	.h1width{
		height: 85px;
	}
	main{
		grid-template-columns: 1fr;
		grid-row-gap: 100px;
		grid-template-rows: 5vh 15vh 14vh 5vh 15vh 14vh 5vh 15vh 14vh ;
		grid-template-areas: 	
		"title"
		"text"
		"img"
		"title2"
		"text2"
		"img2"
		"title3"
		"text3"
		"img3"


		;

	}
	#titulo1{
		width: 100vw;
		grid-area: title ;
		grid-row: 1;
		margin: 60px 0 ;
	}
	#titulo2{
		;
		grid-area: title2;
		grid-row: 4;
		margin: 400px 0;
	}
	#titulo3{
		width: 100vw;
		grid-area: title3;
		grid-row: 7;
		margin-top: 450px ;
	}
	#texto1{
		width: 100vw;
		grid-area: text;
		grid-column: 1;
		grid-row: 2;
		margin-top: 30px;
		margin-bottom: 50px ;
	}
	#texto2{
		width: 100vw;
		grid-area: text2;
		grid-row: 5;
		margin: 180px 0;
	}
	#texto3{
		width: 100vw;
		grid-area: text3;
		grid-row: 8;
		margin: 0px 0;
	}
	#imagen1{
		width: 100vw;
		grid-area: img;
		grid-row: 3;
		margin: 80px 0;
	}
	#imagen2{
		width: 100vw;
		grid-area: img2;
		grid-row: 6;
		margin: 290px 0;
	}
	#imagen3{
		width: 100vw;
		grid-area: img3;	
		grid-row: 9;
		margin:;
	}

	
}

























/*Contacto*/
#paddingContacto{
	padding-top: 70px;
	
}
.mapaSize{
	width: 550px;
	height: 390px
}
.marginLeft{
	margin-left: 25px
}




























/*Promociones*/
.paddingFigure{
	padding-bottom: 30px;
	margin: 25px;
	width: 25%;
	border: double 2px black;
}
.imagePromociones{
	width: 220px;
	height: 280px;
}
.sectionmargin{
	padding-left: 150px;
}
.backgoundPromos{
	background-color: white;
	
}
#paddingPromociones{
	padding-top: 70px;
}
 
